[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
json-cfg = "==0.*"
pip = "==9.*"
flask = "==0.*"
flask-cors = "*"
firebase-admin = "*"
rethinkdb = "*"
pandas = "*"
sklearn = "*"
scipy = "*"

[dev-packages]
pylint = "*"
pycodestyle = "*"

[requires]
python_version = "3.6"
